<div class="axisubs wrap">
    <div class="axisubs-subscribed-title">
    </div>
    {{ message | raw }}
    <div class="axisubs-subscribed-con">
        <a href="{{ subscribtions_url }}">Click here to view subscriptions</a>
    </div>
</div>