.col-3 {
    display: inline-block;
    width: 24%;
}
.axisubs-fields {
    margin: 10px 0;
}
.axisubs-fields-label {
    display: inline-block;
    max-width: 250px;
    vertical-align: top;
    width: 100%;
}
.axisubs-fields-label label {
    font-weight: bold;
}
.axisubs-fields-content {
    display: inline-block;
}
.help-text {
    color: #999;
    display: block;
    font-size: 11px;
    font-style: italic;
}
.axisubs-plans > .row {
    border-top: 1px solid #ddd;
    clear: both;
    margin: 5px 0;
    padding: 6px 0;
}

.loader-ajax-o{
    position: relative;
}
.loader-ajax{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    left: 0;
    top: 0;
    display: none;
    background-color: #fff;
    opacity: .5;
}
.axisubs .invalid-field{
    border: 1px solid red !important;
}
/* pagination */
ul.pagination-ul > li {
    border: 1px solid #ddd;
    display: inline-block;
}
ul.pagination-ul > li.pag-disabled{
    padding: 10px;
}
ul.pagination-ul > li > a{
    display: inline-block;
    padding: 10px;
}
.load_more_subscriptions {
    cursor: pointer;
    display: inline-block;
    position: relative;
}
.more_subscriptions-data{
    display: none;
    z-index: 5;
    background-color: #fff;
    border: 1px solid #ddc4dd;
    left: 100%;
    min-width: 300px;
    padding: 5px 10px;
    position: absolute;
    top: 0;
    width: 100%;
}
.more_subscriptions-data-left-arrow {
    border-bottom: 8px solid transparent;
    border-right: 8px solid #ddc4dd;
    border-top: 8px solid transparent;
    display: none;
    height: 0;
    right: 0;
    position: absolute;
    top: 0;
    width: 0;
    z-index: 5;
}
.more_subscriptions-data .item {
    border-bottom: 1px solid #ddc4dd;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
.more_subscriptions-data .item:last-child {
    border-bottom: 0px solid #ddd;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.transaction-history-c {
    padding: 0 10px;
    text-align: left;
}
.transaction-history-text {
    font-weight: bold;
}
.clear{
    clear: both;
}
.axisubs_button_container{
    margin: 10px 0;
}
.axisubs .hide{
    display: none;
}
.axisubs .message-success {
    background-color: #fff;
    border-left: 4px solid #5cb85c;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    margin-left: 0;
    padding: 12px;
}
.axisubs .message-danger {
    background-color: #fff;
    border-left: 4px solid #d9534f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    margin-left: 0;
    padding: 12px;
}

.axisubs .info{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #eee #eee #eee #aa6708;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px 1px 1px 5px;
    margin: 20px 0;
    padding: 10px 20px;
    font-weight: bold;
    background-color: #E6DDB2;
}
.axisubs .info p {
    font-size: 15px;
}

/*Dashboard*/
.toplevel_page_dashboard-index .axisubs-slidebar{
  margin-top: 95px;
}
.toplevel_page_dashboard-index .axisubs-bs3 .dashboard-content{
  padding-left: 0px;
}
.axisubs .head-title span{
  font-size: 26px;
  font-weight: bold;
  color: #0073AA;
}
.axisubs .head-title small{
  color: #555555;
  font-size: 12px;
  margin-left: 5px;
}
.axisubs-bs3.axisubs h2{
  font-size: 24px;
  margin-bottom: 20px;
}
.toplevel_page_dashboard-index .axisubs-bs3 .target-reports {
    border: 2px solid #cccccc;
    margin: 10px 6px;
    padding: 25px;
    width: 48%;
    border-radius: 3px;
}
.dashboard-menu-item-c {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 255px;
    max-width: 100%;
    position: relative;
}
.dashboard-menu-a{
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}
.dashboard-menu-each-i-l {
    border-radius: 5px 0 0 5px;
    color: #fff;
    float: left;
    font-size: 32px;
    text-align: center;
    width: 35%;
}
.dashboard-menu-each-i-r {
    border-radius: 0 5px 5px 0;
    color: #fff;
    float: left;
    font-weight: bold;
    width: 65%;
}
.dashboard-menu-each-i {
    height: 40px;
    padding: 15px;
    font-size: 15px;
    box-sizing: unset !important;
}
.dashboard-menu-img {
    height: 40px;
    margin: 15px auto;
    width: 40px;
}
.plan-color-dark{
    background: #ff0000 none repeat scroll 0 0;
}
.plan-color-light{
    background: #ff4554 none repeat scroll 0 0;
}
.dashboard-menu-img.plans{
    background: rgba(0, 0, 0, 0) url("../images/plan.png") no-repeat scroll 0 0;
}
.subscriptions-color-dark{
    background: #0060ff none repeat scroll 0 0;
}
.subscriptions-color-light{
    background: #3380ff none repeat scroll 0 0;
}
.dashboard-menu-img.subscriptions{
    background: rgba(0, 0, 0, 0) url("../images/subscription.png") no-repeat scroll 0 0;
}
.customers-color-dark{
    background: #127847 none repeat scroll 0 0;
}
.customers-color-light{
    background: #19a964 none repeat scroll 0 0;
}
.dashboard-menu-img.customers{
    background: rgba(0, 0, 0, 0) url("../images/customer.png") no-repeat scroll 0 0;
}
.config-color-dark{
    background: #EB3E00 none repeat scroll 0 0;
}
.config-color-light{
    background: #F05A24 none repeat scroll 0 0;
}
.dashboard-menu-img.config{
    background: rgba(0, 0, 0, 0) url("../images/configuration.png   ") no-repeat scroll 0 0;
}
.app-color-dark{
    background: #DBA300 none repeat scroll 0 0;
}
.app-color-light{
    background: #F7C841 none repeat scroll 0 0;
}
.dashboard-menu-img.app{
    background: rgba(0, 0, 0, 0) url("../images/apps.png") no-repeat scroll 0 0;
}
.p-t-40 {
    padding-top: 2%;
}
.dashboard-instructions-o{
    background: #0073aa none repeat scroll 0 0;
    color: #fff;
    border-radius: 5px;
}
.dashboard-instructions-container {
    margin-bottom: 18px;
}
.dashboard-instruc-text {
    font-size: 14px;
    padding: 10px 0;
}
.dashboard-instruc-code {
    font-size: 14px;
    padding: 10px 0;
}

table.axisubs_list tbody tr.row0{
    background: #fff none repeat scroll 0 0;
    color: #555;
}
table.axisubs_list tbody tr.row1{
    color: #555;
    background: #f5f3eb none repeat scroll 0 0;
}

@media screen and (max-width: 250px){
    .axisubs h1{
        line-height: 3;
    }
    .axisubs-subscribed-i-block {
        min-width: 175px;
    }
}
.col-2{
    display: inline-block;
    width: 14%;
}
@media(max-width: 1120px){
    .col-2 {
        width: 12%;
    }
}
/* Subscription View page */
.axisubs_page_subscriptions-index .axisubs-slidebar{
  margin-top: 120px;
}
.axisubs-plan-billinfo-fields{
  line-height: 2.5;
}
.subscribed-item-con .item-customer-details{
  line-height: 3;
}
.subscribed-item-con .item-customer-details .customer-info{
  margin-right: 5px;
}
.axisubs-plan_details{
    padding: 0 15px;
}
.axisubs-plan_details .axisubs-billinfo-f-i{
    padding: 10px 0;
}
.axisubs-plan_details .axisubs-billinfo-f-i .axisubs-billinfo-f-label{
    color: #333333;
}
/* ******* Drop Down Button ******* */

.dropdown_subs{
    display: inline;
}
.dropdown_subs .dropbtn {
    border: 1px solid #dddddd;
    color: #555555;
    font-size: 12px;
    margin-left: 0px;
    max-width: 128px;
    text-align: center;
    width: 100%;
    display: inline-block;
    padding: 5px;
    background: #ffffff url("../images/arrow.png") no-repeat scroll right center;
}

.dropdown_subs .dropdown {
    position: relative;
    display: inline-block;
}

.dropdown_subs .dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}

.dropdown_subs .dropdown-content a {
    color: #333;
    padding: 4px 16px;
    text-decoration: none;
    display: block;
    outline: none;
}
.dropdown_subs .dropdown-content a:hover, .dropdown_subs .dropdown-content a:active, .dropdown_subs .dropdown-content a:focus{
    color:#0073aa;
    outline: none;
}
.dropdown_subs:hover .dropdown-content {
    display: block;
}
.axisubs-message-ajax{
    display: none;
}
.axisubs-block > .container-fluid > .row-fluid > .col-md-8{
    width: 80%;
    padding: 0;
}
.axisubs-block > .container-fluid > .row-fluid > .col-md-4{
    width: 20%;
    padding: 0;
}
@media screen and (max-width: 800px){
    .axisubs-block > .container-fluid > .row-fluid > .col-md-8,
    .axisubs-block > .container-fluid > .row-fluid > .col-md-4{
        float: left;
        margin-top: 10px;
        width: 100%;
    }
}
.axisubs-slidebar {
    background: #2583C3 none repeat scroll 0 0;
    color: #fff;
    font-size: 15px;
    padding: 14px;
    margin-top: 70px;
    border-radius: 5px;
    line-height: 1.6;
}
.upload_image_preview {
    max-height: 50px;
    max-width: 50px;
}
/* ******** axis_coupon_list ********** */
.axisubs_list tbody td{
  line-height: 2;
}
/* ******* Axis sub Apps ********** */
.axisubs-app-container {
    background: #fff none repeat scroll 0 0;
    border-radius: 5px;
    color: #333;
    display: inline-block;
    width: 47%;
    margin: 6px;
    height: auto;
    border: 1px solid #ddd;
}
@media(max-width: 550px){
  .axisubs-app-container{
    width: 80%;
  }
}
.axisubs-app-container-i {
    padding: 15px;
    line-height: 1.8;
}
.axisubs-app-name {
  font-size: 18px;
  margin: 10px 0;
  text-align: center;
  color: #000;
}
.axisubs-app-url{
    margin-bottom: 10px;
}
.axisubs-app-url a{
  text-decoration: none;
  margin: 6px 0;
}
.axisubs-app-author, .axisubs-app-version{
    display: inline-block;
    font-weight: bold;
}
.axisubs-app-version {
    float: right;
    font-weight: bold;
}
.axisubs-app-description {
    margin: 6px 0;
}
.axisubs-app-buttons {
    display: block;
    margin-top: 18px;
    text-align: center;
    line-height: 3;
}
.axisubs-app-buttons .page-title-action
{
    border-radius: 3px;
    border: 1px solid #2ebc9a;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    height: 30px;
    line-height: 1;
    margin-right: 10px;
    max-width: 100%;
    padding: 9px 14px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out 0s;
    width: 100px;
    background-color: #2ebc9a;
}
#axisubs_list_form .subscription-list .new,
.axisubs-data-content .new{
    background-color: #FDA900
}
#axisubs_list_form .subscription-list .active,
.axisubs-data-content .active {
    background-color: #68ac23
}
#axisubs_list_form .subscription-list .pending,
.axisubs-data-content .pending{
    background-color: #0098CC;
}

.axisubs-app-buttons .page-title-action:hover, .axisubs-app-buttons .page-title-action:focus, .axisubs-app-buttons .page-title-action:active{
  background-color: #2ebc9a;
  border: 1px solid #2ebc9a;
  padding: 9px 14px;
  box-shadow: none;
}
.axisubs-app-buttons .page-title-action.app-button-view{
  background-color: #5cb85c;
  border-color: #5cb85c;
}

/* ********* plans ********** */
 .axisubs-block .axisubs h2, .axisubs_page_app-index .axisubs h2, .axis-subscriptions_page_app-index .axisubs h2{
  color: #444;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}
.axisubs-block .axisubs .page-btn, .axisubs_page_app-index .page-btn, .axis-subscriptions_page_app-index .page-btn{
  padding: 10px 0;
  margin-bottom: 15px;
}
.axisubs .page-btn a, .axisubs .page-btn button{
  padding: 8px 12px;
  margin-left: 0px;
  color: #2583C3;
  border-radius: 3px;
}
.axisubs .page-btn a:active, .axisubs .page-btn button:active{
  padding: 8px 12px;
  margin-left: 0px;
  border-radius: 3px;
}
.axisubs .page-btn a:hover, .axisubs .page-btn button:hover{
  background-color: #2583C3;
  border-color: #2583C3;
  color: #ffffff;
}
.axisubs .page-btn a:focus, .axisubs .page-btn button:focus{
  box-shadow: none;
}
.axisubs .page-btn #axisubs-import_from_stripe{
  background-color: #2583C3;
  border-color: #2583C3;
  color: #ffffff;
}
.axisubs_page_plans-index .axisubs-block .axisubs-slidebar{
  margin-top: 120px;
}
.axisubs #axisubs_list_form .axisubs-list table{
  box-shadow: 2px 3px 5px #cccccc;
  margin-bottom: 15px;
}
.axisubs-list table thead{
  background-color: #2583C3;
}
.axisubs-list table thead tr th{
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 10px;
}
.axisubs-list table tbody  tr:nth-child(even){
  background-color: #f0f0f0;
}
.axisubs-list table tbody  tr td{
  line-height: 2;
  font-size: 14px;
}
.axisubs-list table tbody  tr td .plane-name{
  font-size: 16px;
  font-weight: bold;
}
/* ****** Configuration ******** */
.axisubs-fields-con .axisubs-fields .axisubs-fields-content input{
  height: 32px;
}
table.wp-list-table .column-name{
  width: auto !important;
}
.axisubs-block{
    font-size: 14px;
}
/* ******* customer ******* */

.axisubs_page_customers-index .axisubs-block .axisubs-slidebar {
    margin-top: 120px;
}
/* ****** Coupon ********** */
.axis-coupon .axisubs-list table thead{
  /*background-color: #2583C3;*/
}

#axisubs_list_form .subscription-list .in-trial,
.axisubs-data-content .in-trial{
    background-color: #008000;
}
#axisubs_list_form .subscription-list .expired,
.axisubs-data-content .expired{
    background-color: #B81C36;
}
#axisubs_list_form .subscription-list .canceled,
.axisubs-data-content .canceled{
    background-color: #ff0000;
}
#axisubs_list_form .subscription-list .future,
.axisubs-data-content .future{
    background-color: #936DC0;
}
.axisubs.axisubs-bs3 td, .axisubs.axisubs-bs3 th {
    padding: 8px 10px;
}
.axisubs .label {
    border-radius: 0.25em;
    color: #fff;
    display: inline-block;
    font-size: 12px !important;
    font-weight: 700;
    line-height: 1;
    padding: 5px 10px !important;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}
