.col-3 {
    display: inline-block;
    width: 24%;
}
.axisubs-fields {
    margin: 10px 0;
}
.axisubs-fields-label {
    display: inline-block;
    max-width: 250px;
    vertical-align: top;
    width: 100%;
}
.axisubs-fields-label label {
    font-weight: bold;
}
.axisubs-fields-content {
    display: inline-block;
}
.help-text {
    color: #999;
    display: block;
    font-size: 11px;
    font-style: italic;
}
.axisubs-plans > .row {
    border-top: 1px solid #ddd;
    clear: both;
    margin: 5px 0;
    padding: 6px 0;
}
.axisubs-app-container {
    background: #1aafd0 none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    width: 25%;
    margin: 6px;
}
.axisubs-app-container-i {
    padding: 15px;
}
.axisubs-app-name {
    font-size: 15px;
    font-weight: bold;
}
.axisubs-app-author, .axisubs-app-version{
    display: inline-block;
}
.axisubs-app-version {
    float: right;
    font-weight: bold;
}
.axisubs-app-description {
    margin: 6px 0;
}
.axisubs-app-buttons {
    display: block;
    margin-top: 18px;
}
.loader-ajax-o{
    position: relative;
}
.loader-ajax{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    left: 0;
    top: 0;
    display: none;
    background-color: #fff;
    opacity: .5;
}