<div class="axisubs-fields">
    <div class="axisubs-fields-label">
        <label for="axisub_plan_period">Period</label>
    </div>
    <div class="axisubs-fields-content">
        <input type="text" name="axisubs[plans][period]" id="axisub_plan_period" value="{{ item['meta'][item['ID']~'_axisubs_plans_period'] }}"/>
        <span class="help-text">In days</span>
    </div>
</div>