<div class="axisubs-fields">
    <div class="axisubs-fields-label">
        <label for="axisub_plan_period">Duration</label>
    </div>
    <div class="axisubs-fields-content">
        <input type="text" class="required" name="axisubs[plans][period]" id="axisub_plan_period" value="{{ item['meta'][item['ID']~'_axisubs_plans_period'] }}"/>
    </div>
</div>

<div class="axisubs-fields">
    <div class="axisubs-fields-label">
        <label for="axisub_plan_period">Units of Duration</label>
    </div>
    <div class="axisubs-fields-content">
        <select name="axisubs[plans][period_units]" id="axisub_plan_period_units">
            <option value="D" {% if item['meta'][item['ID']~'_axisubs_plans_period_units'] == 'D' %} selected {% endif %}>Days</option>
            <option value="W" {% if item['meta'][item['ID']~'_axisubs_plans_period_units'] == 'W' %} selected {% endif %}>Weeks</option>
            <option value="M" {% if item['meta'][item['ID']~'_axisubs_plans_period_units'] == 'M' %} selected {% endif %}>Months</option>
            <option value="Y" {% if item['meta'][item['ID']~'_axisubs_plans_period_units'] == 'Y' %} selected {% endif %}>Years</option>
        </select>
        <span class="help-text">Regular subscription units of duration.</span>
    </div>
</div>

<div class="axisubs-fields">
    <div class="axisubs-fields-label">
        <label for="axisub_plan_price">Price</label>
    </div>
    <div class="axisubs-fields-content">
        <input type="text" class="required" name="axisubs[plans][price]" id="axisub_plan_price" value="{{ item['meta'][item['ID']~'_axisubs_plans_price'] }}"/>
        <span class="help-text">Plan price</span>
    </div>
</div>

<div class="axisubs-fields">
    <div class="axisubs-fields-label">
        <label for="axisub_plan_setup_cost">Setup cost</label>
    </div>
    <div class="axisubs-fields-content">
        <input type="text" name="axisubs[plans][setup_cost]" id="axisub_plan_setup_cost" value="{{ item['meta'][item['ID']~'_axisubs_plans_setup_cost'] }}"/>
        <span class="help-text">One-time setup fee charged as part of the first invoice.</span>
    </div>
</div>

<div class="axisubs-fields">
    <div class="axisubs-fields-label">
        <label for="axisub_plan_period">Trial Period</label>
    </div>
    <div class="axisubs-fields-content">
        <input type="text" name="axisubs[plans][trial_period]" id="axisub_plan_trial_period" value="{{ item['meta'][item['ID']~'_axisubs_plans_trial_period'] }}"/>
    </div>
</div>

<div class="axisubs-fields">
    <div class="axisubs-fields-label">
        <label for="axisub_plan_trial_period_units">Units of Trial Duration</label>
    </div>
    <div class="axisubs-fields-content">
        <select name="axisubs[plans][trial_period_units]" id="axisub_plan_trial_period_units">
            <option value="D" {% if item['meta'][item['ID']~'_axisubs_plans_trial_period_units'] == 'D' %} selected {% endif %}>Days</option>
            <option value="W" {% if item['meta'][item['ID']~'_axisubs_plans_trial_period_units'] == 'W' %} selected {% endif %}>Weeks</option>
            <option value="M" {% if item['meta'][item['ID']~'_axisubs_plans_trial_period_units'] == 'M' %} selected {% endif %}>Months</option>
            <option value="Y" {% if item['meta'][item['ID']~'_axisubs_plans_trial_period_units'] == 'Y' %} selected {% endif %}>Years</option>
        </select>
        <span class="help-text">Regular subscription units of duration.</span>
    </div>
</div>